* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.top-container {
    padding: 1.75vh 1vh;
    background: linear-gradient(to right, rgb(218, 209, 182) 5%, rgb(204, 155, 103) 60%, rgb(230, 219, 175));
    text-align: center;
    font-family: 'Rock Salt', serif;
    font-size: 1.5em;
    border-bottom: 0.7vh double sienna;
    box-shadow: 0 2vh 3.5vh black;
}

.mid-container {
    position: relative;
    display: grid;
    grid-template-columns: 66vw 34vw;
}

.mid-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.mid-left {
    position: relative;
    background-color: rgba(20, 20, 28, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.turntable {
    width: 60%;
    aspect-ratio: 4/3;
    border-bottom: 4.5vh solid rgb(51, 49, 44);
    border-radius: 1%;
}

.deck {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(206, 202, 184) 60%, rgb(232, 227, 207));
    border: 1.15vh double rgb(163, 147, 126);
    border-top-left-radius: 1.5%;
    border-top-right-radius: 1.5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.deck-left {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vinyl {
    width: 98%;
    aspect-ratio: 1;
    background: linear-gradient(to bottom right, rgb(40,40,40) 5%, black 69%, rgb(150,150,150));
    border: 4px solid rgb(80,80,75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 3.5s infinite linear;
    -webkit-animation: spin 3.5s infinite linear;
    animation-play-state: paused;
}

#deck-volume {
    background-color: gray;
}

@keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.inner-vinyl {
    width: 40%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, rgb(227, 95, 95) 79%, powderblue);
    border-top: 3px solid white;
    border-left: 3px solid rgb(220, 220,240);
    border-right: 3px solid rgb(150,150,150);
    border-bottom: 3px solid rgb(80,90,80);
    border-radius: 50%;
}

.inner-inner-vinyl {
    width: 18%;
    aspect-ratio: 1;
    background: black;
    border-top: 1px solid black;
    border-left: 1px solid rgb(249, 236, 191);
    border-right: 1px solid rgb(150,150,150);
    border-bottom: 1px solid rgb(80,90,80);
    border-radius: 50%;
}

.deck-right {
    padding: 8%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-gap: 4%;
}

.deck-screen {
    background-color: beige;
    border: 0.3vh solid rgb(110,110,110);
    border-radius: 1.5%;
    padding: 5%;
    overflow: hidden;
}

.deck-screen-text {
    height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    overflow: scroll;
    padding: 0.34em;
    background-color: rgb(177, 180, 167);
    color: rgb(59, 59, 76);
    border: 0.4vh solid rgb(74, 74, 123);
    border-radius: 3%;
    font-family: 'Quantico', sans-serif;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    transition: 0.1s;
}

.deck-screen-text:hover {
    background-color: rgb(167, 175, 180); 
}

.deck-screen-text::-webkit-scrollbar {
    display: none;
}

.deck-volume {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 239, 232);
    border: 0.3vh solid rgb(115,115,110);
    border-radius: 1%;
}

#deck-volume {
    appearance: none;
    width: 85%;
}


#deck-volume::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(150,150,150);
    border: 0.15em solid rgb(115,115,110);
    height: 0.6em;
}

#deck-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.55em;
    height: 1.6em;
    width: 0.55em;
    background-color: gray;
    border: 2px solid rgb(80,80,80);
    cursor: pointer;
}

#deck-volume::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.deck-buttons {
    background-color: tan;
    border: 0.3vh solid rgb(110,110,110);
    border-radius: 1.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;

}

.deck-buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-buttons > div > button {
    appearance: none;
    border: 0.15em solid rgb(115,115,110);
    background: linear-gradient(to top left, rgb(218, 209, 182) 60%, beige);
    box-shadow: 0.3vh 0.8vh rgb(199, 152, 102);
    width: 80%;
    aspect-ratio: 1;
    color: rgb(70,60,60);
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
}

.deck-buttons > div > button:hover, .dialog-close-btn:hover {
    border: 0.15em solid rgb(99, 99, 95);
    background: linear-gradient(to top left, rgb(225, 177, 119) 60%, rgb(218, 209, 182));
}

.deck-buttons > div > button:active, .dialog-close-btn:active {
    box-shadow: none;
    background: linear-gradient(to top left, rgb(214, 169, 113) 60%, rgb(218, 209, 182));
    transform: translateY(0.5vh);
}


.mid-right {
    background-color: rgba(20, 20, 28, 0.8);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.album {
    width: 90%;
    aspect-ratio: 1;
    background-color: rgb(253, 250, 240);
    border: 0.5vh solid rgb(51, 51, 51);
    border-radius: 0.6%;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 2vh;
    overflow-y: scroll;
    cursor: pointer;
}

.album-cover {
    width: 100%;
    object-fit: contain;
}

.album-title {
    width: 100%;
    font-family: 'Rock Salt', serif;
    text-align: center;
    padding-top: 2.5vh;
}

.album-article {
    width: 100%;
    font-family: 'Noto Sans JP', Arial, sans-serif;
    font-size: 0.9em;
    padding: 0.5em;
    word-wrap: break-word;
}

#article-dialog, #bib-dialog {
    height: 80vh;
    aspect-ratio: 4 / 3;
    padding: 3.5vh;
    overflow-y: scroll;
    background-color: rgb(253, 250, 240);
}

#article-dialog::backdrop, #bib-dialog::backdrop {
    background-color: rgba(10, 0, 0, 0.4);
}

.article-dialog-title, .bib-dialog-title {
    font-family: 'Rock Salt', serif;
    font-size: 1.5em;
    padding: 2vh 0vh;
}

.article-dialog-img {
    width: 100%;
    object-fit: contain;
}

.article-dialog-text, .bib-dialog-text {
    font-family: 'Noto Sans JP', Arial, sans-serif;
    font-size: 1em;
    word-wrap: break-word;
}

.article-dialog-bib, .album-bib {
    font-family: 'Noto Sans JP', Arial, sans-serif;
    font-size: 0.8em;
}

.dialog-close-btn {
    appearance: none;
    border: 0.15em solid rgb(115,115,110);
    background: linear-gradient(to top left, rgb(218, 209, 182) 60%, beige);
    box-shadow: 0.3vh 0.8vh rgb(199, 152, 102);
    width: 100%;
    color: rgb(70,60,60);
    padding: 1vh;
    text-align: center;
    cursor: pointer;
}

.bottom-container {
    background-color: rgb(210, 177, 142);
    border-top: 0.55vh double sienna;
    box-shadow: 0 0 3vh 1vh black;
    font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
    font-size: 2vh;
    padding: 1vh;
    z-index: 2;
}